.bg {
  background-image: url("./pic/bg.jpg");
  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron text-center bg {
  margin-bottom: 0
}
